<div>
    <button (click)="startPlaying()">Start</button>
    <button (click)="stopPlaying()">Stop</button>
</div>
<table align="center">
    <tr>
        <td style="width: 200px;display: inline-block;">Click the {{randomChoice}} Box</td>
        <td style="width: 200px;display: inline-block;text-align: right;">Lives: {{lives}}</td>
    </tr>

    <tr>
        <td style="width: 200px;display: inline-block;">Time Left : {{seconds}}.{{miliseconds}}s</td>
        <td style="width: 200px;display: inline-block;text-align: right;">Score: {{score}}</td>

    </tr>
</table>