<div>
    <div>
        <button (click)="startPlaying()">Start</button>
        <button (click)="stopPlaying()">Stop</button>
    </div>
    <table align="center">
        <tr>
            <td style="width: 300px;display: inline-block;text-align: left">Click the {{randomChoice[0]}} Box</td>
            <td style="width: 300px;display: inline-block;text-align: right;">Lives: {{lives}}</td>
        </tr>
        <tr>
            <td style="width: 300px;display: inline-block;text-align: left">Time elapsed: {{seconds}}.{{miliseconds}}s</td>
            <td style="width: 300px;display: inline-block;text-align: right;">Score: {{score}}</td>
        </tr>
    </table>
</div>